<template>
    <div>
        <div class="row">

            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4>Data Indikator Inovasi Daerah</h4>
                        <p>21 Indikator dari Data Isian Inovasi Daerah. Silahkan membaca deskripsi atau keterangan terlebih dahulu dari masing-masing isian dalam formulir ini. Jika terdapat pertanyaan, silahkan berkoordinasi ke Whatsapp Grup "Koordinasi IGA DPS 2020"</p>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleInputEmail1">1. Regulasi Inovasi Daerah [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Regulasi / Kebijakan yang ditetapkan untuk mendukung Inovasi Daerah</p>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kuisioner" id="kuisioner" value="SK OPD">
                                    SK OPD
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kuisioner" id="kuisioner" value="Perkada">
                                    Perkada
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kuisioner" id="kuisioner" value="Perda">
                                    Perda
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kuisioner" id="kuisioner" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <label>1. Regulasi Inovasi Daerah [Data Pendukung])</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf)</p> 
                            <input type="file" name="dataregulasi" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">1. Regulasi Inovasi Daerah [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="rancangbangun" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">2. Ketersediaan SDM Terhadap Inovasi Daerah [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Jumlah SDM yang melaksanakan inovasi daerah ini. jumlahnya ada berapa orang</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kuisioner" id="kuisioner" value="1 s/d 10 orang">
                                    1 s/d 10 orang
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kuisioner" id="kuisioner" value="11 s/d 30 orang">
                                    11 s/d 30 orang
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kuisioner" id="kuisioner" value="Lebih dari 31 orang">
                                    Lebih dari 31 orang
                                </label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="kuisioner" id="kuisioner" value="Belum tersedia">
                                        Belum tersediaLebih dari 31 orang
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label>2. Ketersediaan SDM Terhadap Inovasi Daerah [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf)</p> 
                            <input type="file" name="datasdm" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">2. Ketersediaan SDM Terhadap Inovasi Daerah [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Anggaran untuk inovasi daerah dituangkan dalam APBD</p> 
                            <input type="text" class="form-control" id="ketersediaansmd" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">3. Dukungan Anggaran [Kuisioner] <a style="color:red;">*</a></label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="dukungananggaran" id="dukungananggaran" value="Anggaran sudah ada dalam tahap perencanaan">
                                    Anggaran sudah ada dalam tahap perencanaan
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="dukungananggaran" id="dukungananggaran" value="Anggaran sudah ada sampai tahap pelaksanaan">
                                    Anggaran sudah ada sampai tahap pelaksanaan
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="dukungananggaran" id="dukungananggaran" value="Anggaran dalam tahap sudah dilaksanaan dan sudah dievaluasi">
                                    Anggaran dalam tahap sudah dilaksanaan dan sudah dievaluasi
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="dukungananggaran" id="dukungananggaran" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>3. Dukungan Anggaran [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf)</p> 
                            <input type="file" name="datadukungananggaran" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">3. Dukungan Anggaran [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namadokumenanggaran" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">4. Penggunaan IT [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Penggunaan alat elektronik, teknologi dan sistem informasi dalam inovasi daerah</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="penggunaanit" id="penggunaanit" value="Pelaksanaan inovasi daerah secara manual">
                                    Pelaksanaan inovasi daerah secara manual
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="penggunaanit" id="penggunaanit" value="Pelaksanaan inovasi daerah menggunakan perangkat elektronik">
                                    Pelaksanaan inovasi daerah menggunakan perangkat elektronik
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="penggunaanit" id="penggunaanit" value="Pelaksanaan inovasi daerah sudah menggunakan sistem informasi secara online">
                                    Pelaksanaan inovasi daerah sudah menggunakan sistem informasi secara online
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="penggunaanit" id="penggunaanit" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>4. Penggunaan IT [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="datapenggunait" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">4. Penggunaan IT [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namapenggunait" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">5. Bimtek Inovasi [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Suatu kegiatan yang diberikan pengguna inovasi daerah kepada pelatihan yang bermanfaat dalam meningkatkan inovasi daerah</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="bimtek" id="bimtek" value="Dalam 1 tahun Bimtek dilaksanakan hingga 2 kali">
                                    Dalam 1 tahun Bimtek dilaksanakan hingga 2 kali
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="bimtek" id="bimtek" value="Dalam 2 tahun Bimtek dilaksanakan hingga 4 kali">
                                    Dalam 2 tahun Bimtek dilaksanakan hingga 4 kali
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="bimtek" id="bimtek" value="Dalam 3 tahun Bimtek dilaksanakan hingga 9 kali">
                                    Dalam 3 tahun Bimtek dilaksanakan hingga 9 kali
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="bimtek" id="bimtek" value="Belum pernah dilakukan Bimtek">
                                    Belum pernah dilakukan Bimtek
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>5. Bimtek Inovasi [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="databimtek" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">5. Bimtek Inovasi [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namabimtek" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">6. Program Dan Kegiatan Di Renstra OPD [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Inovasi Daerah masuk dalam program dan kegiatan Renstra OPD</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="programopd" id="programopd" value=" Rencana pengembangan inovasi sudah tertuang dalam Renstra OPD">
                                    "Rencana" pengembangan inovasi sudah tertuang dalam Renstra OPD
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="programopd" id="programopd" value="Pengembangan inovasi sudah tertuang dalam Renstra OPD">
                                    Pengembangan inovasi sudah tertuang dalam Renstra OPD
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="programopd" id="programopd" value="Pengembangan inovasi sudah tertuang dalam Renstra OPD dan sudah dilaksanakan">
                                    Pengembangan inovasi sudah tertuang dalam Renstra OPD dan sudah dilaksanakan
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="programopd" id="programopd" value="Pengembangan inovasi sudah tertuang dalam Renstra OPD dan sudah dilaksanakan">
                                    Pengembangan inovasi sudah tertuang dalam Renstra OPD dan sudah dilaksanakan
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>6. Program Dan Kegiatan Di Renstra OPD [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf)</p>
                            <input type="file" name="dataprogramopd" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">6. Program Dan Kegiatan Di Renstra OPD [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namaprogramopd" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">7. Jejaring Inovasi [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Interaksi antar pelaku inovasi daerah. misalkan antar OPD, antar Pemda, atau melibatkan pelayanan publik</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="jejaringinovasi" id="jejaringinovasi" value="Inovasi daerah berjalan hanya 1 OPD">
                                    Inovasi daerah berjalan hanya 1 OPD
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="jejaringinovasi" id="jejaringinovasi" value="Inovasi daerah berjalan hanya 2 OPD">
                                    Inovasi daerah berjalan hanya 2 OPD
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="jejaringinovasi" id="jejaringinovasi" value="Inovasi daerah berjalan hanya 3 OPD atau lebih">
                                    Inovasi daerah berjalan hanya 3 OPD atau lebih
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="jejaringinovasi" id="jejaringinovasi" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>7. Jejaring Inovasi [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf) atau file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="datajejaringinovasi" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">7. Jejaring Inovasi [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namapjejaringinovasi" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">8. Replikasi [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Inovasi daerah yang telah berhasil direplikasi ke daerah lain</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="replikasi" id="replikasi" value="Pernah 1 kali direplikasi di daerah lain">
                                    Pernah 1 kali direplikasi di daerah lain
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="replikasi" id="replikasi" value="Pernah 2 kali direplikasi di daerah lain">
                                    Pernah 2 kali direplikasi di daerah lain
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="replikasi" id="replikasi" value="Pernah 3 kali direplikasi di daerah lain">
                                    Pernah 3 kali direplikasi di daerah lain
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="replikasi" id="replikasi" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>8. Replikasi [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf)</p>
                            <input type="file" name="datareplikasi" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">8. Replikasi [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namareplikasi" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>

            
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</template>

<script>

    export default {
        data() {
            return {

            }
        },

        created(){
        },

        methods: {
           

        },
    }
</script>

<style>

</style>