<template>
    <div>
        <div class="row">

            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4>Data Indikator Inovasi Daerah</h4>
                        <p>21 Indikator dari Data Isian Inovasi Daerah. Silahkan membaca deskripsi atau keterangan terlebih dahulu dari masing-masing isian dalam formulir ini. Jika terdapat pertanyaan, silahkan berkoordinasi ke Whatsapp Grup "Koordinasi IGA DPS 2020"</p>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">9. Pedoman Teknis [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Ketentuan dasar yang memberi arah bagaimana inovasi daerah harus dilakukan</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="pedomanteknis" id="pedomanteknis" value="Memiliki Rancangan Pedoman Teknis">
                                    Memiliki "Rancangan" Pedoman Teknis
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="pedomanteknis" id="pedomanteknis" value="Memiliki Pedoman Teknis">
                                    Memiliki Pedoman Teknis
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="pedomanteknis" id="pedomanteknis" value="Memiliki Pedoman Teknis dan bisa diakses secara online">
                                    Memiliki Pedoman Teknis dan bisa diakses secara online
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="pedomanteknis" id="pedomanteknis" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>9. Pedoman Teknis [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf)</p>
                            <input type="file" name="datapedomanteknis" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">9. Pedoman Teknis [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namapedomanteknis" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">10. Pengelola Inovasi [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Pengelola inovasi ditetapkan dengan Surat Keputusan</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="pengelolainovasi" id="pengelolainovasi" value="Ada pengelola namun tidak ditetapkan dengan SK OPD">
                                    Ada pengelola namun tidak ditetapkan dengan SK OPD
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="pengelolainovasi" id="pengelolainovasi" value="Ada pengelola dan ditetapkan dengan SK OPD">
                                    Ada pengelola dan ditetapkan dengan SK OPD
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="pengelolainovasi" id="pengelolainovasi" value="Ada pengelola dan ditetapkan dengan SK Kepala Daerah">
                                    Ada pengelola dan ditetapkan dengan SK Kepala Daerah
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="pengelolainovasi" id="pengelolainovasi" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>10. Pengelola Inovasi [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf) atau file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="datapengelolainovasi" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">10. Pengelola Inovasi [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namapengelolainovasi" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">11. Ketersediaan Informasi Layanan [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Kesiapan informasi layanan untuk dapat digunakan</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="ketersediaanlayanan" id="ketersediaanlayanan" value="Informasi melalui datang langsung">
                                    Informasi melalui datang langsung
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="ketersediaanlayanan" id="ketersediaanlayanan" value="Informasi diakses melalui telepon">
                                    Informasi diakses melalui telepon
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="ketersediaanlayanan" id="ketersediaanlayanan" value="Informasi layanan bisa diakses secara online">
                                    Informasi layanan bisa diakses secara online
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="ketersediaanlayanan" id="ketersediaanlayanan" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>11. Ketersediaan Informasi Layanan [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf) atau file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="dataketersediaanlayanan" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">11. Ketersediaan Informasi Layanan [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namaketersediaanlayanan" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">12. Penyelesaian Layanan Pengaduan [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Penyelesaian informasi/ pemberitahuan yang disampaikan oleh pengguna tentang inovasi daerah</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="penyelesaianlayanan" id="penyelesaianlayanan" value="Terdapat call center layanan pengaduan pengguna">
                                    Terdapat "call center" layanan pengaduan pengguna
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="penyelesaianlayanan" id="penyelesaianlayanan" value="Terdapat layanan pengaduan pengguna melalui media sosial">
                                    Terdapat layanan pengaduan pengguna melalui media sosial
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="penyelesaianlayanan" id="penyelesaianlayanan" value="Terdapat layanan pengaduan pengguna melalui aplikasi pengaduan">
                                    Terdapat layanan pengaduan pengguna melalui aplikasi pengaduan
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="penyelesaianlayanan" id="penyelesaianlayanan" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>12. Penyelesaian Layanan Pengaduan [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf) atau file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="datapenyelesaianlayanan" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">12. Penyelesaian Layanan Pengaduan [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namapenyelesaianlayanan" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">13. Tingkat Partisipasi Stakeholder [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Tindakan pihak pihak tertentu dalam mengambil bagian pada kegiatan inovasi daerah</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="tingkatstakeholder" id="tingkatstakeholder" value="Inovasi dilakukan dengan melibatkan masyarakat">
                                    Inovasi dilakukan dengan melibatkan masyarakat
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="tingkatstakeholder" id="tingkatstakeholder" value="Inovasi dilakukan dengan melibatkan masyarakat dan akademisi">
                                    Inovasi dilakukan dengan melibatkan masyarakat dan akademisi
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="tingkatstakeholder" id="tingkatstakeholder" value="Inovasi dilakukan dengan melibatkan masyarakat dan akademisi serta media massa">
                                    Inovasi dilakukan dengan melibatkan masyarakat dan akademisi serta media massa
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="tingkatstakeholder" id="tingkatstakeholder" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>13. Tingkat Partisipasi Stakeholder [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf) atau file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="datatingkatstakeholder" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">13. Tingkat Partisipasi Stakeholder [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namatingkatstakeholder" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">14. Kemudahan Informasi Layanan [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Tidak memerlukan banyak tenaga untuk memperoleh informasi layanan</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kemudahanlayanan" id="kemudahanlayanan" value="Layanan Telepon">
                                    Layanan Telepon
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kemudahanlayanan" id="kemudahanlayanan" value="Layanan Email/Media Sosial">
                                    Layanan Email/Media Sosial
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kemudahanlayanan" id="kemudahanlayanan" value="Layanan Melalui Aplikasi Online">
                                    Layanan Melalui Aplikasi Online
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kemudahanlayanan" id="kemudahanlayanan" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>14. Kemudahan Informasi Layanan [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf) atau file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="datakemudahanlayanan" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">14. Kemudahan Informasi Layanan [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namakemudahanlayanan" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">15. Kemudahan Proses Inovasi Yang Dihasilkan [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Tidak atau memerlukan banyak tenaga untuk melakukan inovasi</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kemudahanproses" id="kemudahanproses" value="Hasil inovasi dalam waktu 8 hari keatas">
                                    Hasil inovasi dalam waktu 8 hari keatas
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kemudahanproses" id="kemudahanproses" value="Hasil inovasi dalam waktu 3-7 hari">
                                    Hasil inovasi dalam waktu 3-7 hari
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kemudahanproses" id="kemudahanproses" value="Hasil inovasi dalam waktu 1-2 hari">
                                    Hasil inovasi dalam waktu 1-2 hari
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kemudahanproses" id="kemudahanproses" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>15. Kemudahan Proses Inovasi Yang Dihasilkan [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf) atau file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="datakemudahanproses" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">15. Kemudahan Proses Inovasi Yang Dihasilkan [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namakemudahanproses" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">16. Online Sistem [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Jaringan prosedur yang dibuat secara daring</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="onlinesistem" id="onlinesistem" value="Ada dukungan melalui informasi website atau media sosial">
                                    Ada dukungan melalui informasi website atau media sosial
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="onlinesistem" id="onlinesistem" value="Ada dukungan melalui web aplikasi">
                                    Ada dukungan melalui web aplikasi
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="onlinesistem" id="onlinesistem" value="Ada dukungan melalui web aplikasi dan aplikasi mobile (android atau ios)">
                                    Ada dukungan melalui web aplikasi dan aplikasi mobile (android atau ios)
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="onlinesistem" id="onlinesistem" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>16. Online Sistem [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf) atau file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="dataonlinesistem" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">16. Online Sistem [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namaonlinesistem" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</template>

<script>

    export default {
        data() {
            return {

            }
        },

        created(){
        },

        methods: {
           

        },
    }
</script>

<style>

</style>