<template>
    <div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3>Formulir Inovasi Daerah</h3>
                        <p>Silahkan membaca deskripsi atau keterangan terlebih dahulu dari masing-masing isian dalam formulir ini. Jika terdapat pertanyaan dan kesulitan, silahkan berkoordinasi ke Whatsapp Grup "Koordinasi IGA DPS 2020"</p>
                        <br>
                        <p style="color:red;"><a style="color:red;">*</a>Required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="exampleInputEmail1" >Email address <a style="color:red;"><a style="color:red;">*</a></a></label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Nama Inovasi Daerah <a style="color:red;"><a style="color:red;">*</a></a></label>
                            <input type="text" class="form-control" id="namainovasidaerah" autocomplete="off" placeholder="Your answer">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Nama OPD <a style="color:red;">*</a></label>
                            <select class="form-control" id="namaopd">
                                <option selected disabled>Choose</option>
                                <option>12-18</option>
                                <option>18-22</option>
                                <option>22-30</option>
                                <option>30-60</option>
                                <option>Above 60</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Tahapan Inovasi Daerah <a style="color:red;">*</a></label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="tahapaninovasi" id="tahapaninovasi" value="Inisiatif">
                                    Inisiatif
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="tahapaninovasi" id="tahapaninovasi" value="Uji Coba">
                                    Uji Coba
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="tahapaninovasi" id="tahapaninovasi" value="Penerapan">
                                    Penerapan
                                </label>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Inisiator Inovasi Daerah <a style="color:red;">*</a></label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasidaerah" id="inovasidaerah" value="Kepala Daerah">
                                    Kepala Daerah
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasidaerah" id="inovasidaerah" value="Anggota DPRD">
                                    Anggota DPRD
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasidaerah" id="inovasidaerah" value="OPD">
                                    OPD
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasidaerah" id="inovasidaerah" value="ASN">
                                    ASN
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasidaerah" id="inovasidaerah" value="Masyarakat">
                                    Masyarakat
                                </label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Jenis Inovasi Daerah <a style="color:red;">*</a></label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="jenisinovasi" id="jenisinovasi" value="Digital">
                                    Digital
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="jenisinovasi" id="jenisinovasi" value="Non Digital">
                                    Non Digital
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Bentuk Inovasi Daerah <a style="color:red;">*</a></label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="bentukinovasi" id="bentukinovasi" value="Digital">
                                    Inovasi Pelayanan Publik
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="bentukinovasi" id="bentukinovasi" value="Non Digital">
                                    Inovasi Tata Kelola Pemerintahan Daerah
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="bentukinovasi" id="bentukinovasi" value="Non Digital">
                                    Inovasi Daerah Lainnya Sesuai Dengan Urusan Pemerintahan yang Menjadi Kewenangan Daerah
                                </label>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Inovasi Daerah dalam rangka atau berkaitan dengan COVID-19 <a style="color:red;">*</a></label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasicovid19" id="inovasicovid19" value="Kepala Daerah">
                                    Non COVID-19
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasicovid19" id="inovasicovid19" value="Anggota DPRD">
                                    COVID-19
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Waktu Uji Coba Inovasi Daerah</label>
                            <input type="date" class="form-control" name="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Waktu Implementasi Inovasi Daerah</label>
                            <input type="date" class="form-control" name="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Rancang Bangun dan Pokok Perubahan yang Dilakukan <a style="color:red;">*</a></label>
                            <input type="text" class="form-control" id="rancangbangun" autocomplete="off" placeholder="Your answer">
                        </div>
                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Manfaat yang Diperoleh dari Inovasi Daerah Tersebut <a style="color:red;">*</a></label>
                            <input type="text" class="form-control" id="manfaat" autocomplete="off" placeholder="Your answer">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Penjelasan Hasil dari Inovasi Daerah Tersebut <a style="color:red;">*</a></label>
                            <input type="text" class="form-control" id="hasil" autocomplete="off" placeholder="Your answer">
                        </div>
                        <div class="form-group">
                            <label>Anggaran (Jika tersedia)</label>
                            <p style="font-size:12px; text-align: justify;">Kebutuhan data pendukung adalah file persentasi (ppt)</p>
                            <input type="file" name="fileanggaran" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Proses Bisnis (Jika tersedia)</label>
                            <p style="font-size:12px; text-align: justify;">Kebutuhan data pendukung adalah file persentasi (ppt)</p>
                            <input type="file" name="filebisnis" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>
                        
                    </form>
                  </div>
                </div>
            </div>

            
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</template>

<script>

    export default {
        data() {
            return {

            }
        },

        created(){
        },

        methods: {
           

        },
    }
</script>

<style>

</style>